body {
    text-align: center;
    margin-top: 150px;
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
}
.title {
    display: inline-block;
}
.logo {
    padding: 20px;

}

.top-container input[type=text] {
    margin: 80px 0 0 17%;
    padding: 11px;
    font-size: 16px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
}

.top-container button {
    margin-top: 80px;
    float: left;
    padding: 10px;

    background-color: lightblue;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.box-left {
    display: inline-block;
    color: white;
    font-size: larger;
    text-decoration: none;
    background-color: gray;
    width: 10%;
    margin-right: 7%;
    padding: 5%;
    margin-top: 8%;
}

.box-right {
    display: inline-block;
    color: white;
    font-size: larger;
    text-decoration: none;
    background-color: gray;
    width: 10%;
    padding: 5%;
    margin-left: 7%;
}


