.boxsections-body {
    text-align: center;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: #232D4B !important;

}
.home-body {
    text-align: center;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: #232D4B !important;

}


h1 {
    font-size: 4em;
}
.title {
    display: block;
    padding:20px;
    font-size: 4em;
}
.logo {
    padding: 20px;

}

.top-container  {
    padding-top: 10px;
    color: white;
    text-shadow: 0 0 0.5vw #F84C1E;
    text-align: center;
}

.top-container input[type=text] {
    margin: 4vh 0 0 17%;
    padding: 11px;
    font-size: 16px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
}

.top-container button {
    margin-top: 4vh;
    float: left;
    padding: 10px;

    background-color: lightblue;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}


.boxes-container    {
    margin-top: 12%;
    height: 8vh;
    display: flex;
    justify-content: center;
}

.box-button-icon    {
    height: 5vw;
    width: 5vw;
    padding-bottom: 1vh;
    margin-top: -8vh;
}

.box-text   {
    text-underline-offset:unset;
    color:black;
    text-decoration: none;

}

.box-left {
    display: -ms-inline-flexbox;
    color: white;
    font-size: larger;
    text-decoration: none;
    background-color: white;
    text-align: center;
    width: 15%;
    height: 100%;
    margin-right: 7%;
    padding: 5.5%;
    box-shadow: 0.2vw 0.3vh 0.8vw 0.7vh grey;
    transition: 0.3s;
}


.box-right {
    display: -ms-inline-flexbox;
    color: white;
    font-size: larger;
    text-decoration: none;
    background-color: white;
    text-align: center;
    width: 15%;
    height: 100%;
    padding: 5.5%;
    margin-left: 7%;
    box-shadow: 0.2vw 0.3vh 0.8vw 0.7vh grey;
    transition: 0.3s;
}

.box-left:hover {
    background-color: #F84C1E;
    cursor: pointer;
}

.box-right:hover {
    background-color: #F84C1E;
    cursor: pointer;
}
#userInput{
    margin: 4vh;
    padding: 11px;
    font-size: 16px;
    border: 1px solid grey;
    width: 60%;
    background: #f1f1f1;
}
.department-container    {
    margin-top: 10%;
    height: 6vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
select {
    margin: 0.5px;
    width: 1000px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid darkblue;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-family: sans-serif;
    cursor: pointer;
    text-shadow: 0 0 0.01vw #F84C1E;
  }
  .Professor {
      display: block;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #FFFFFF;
    cursor: pointer;
      text-align: left;
      text-decoration: none;
      color: black;
  }
  .Professor:hover{
      text-decoration: underline;
      font-size: 18px;
  }

  .courses-option-container{
    margin-top: 3%;
    height: 6vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
  }

  .course-list{
    margin: 0.5px;
    width: 1350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid darkblue;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-family: sans-serif;
    cursor: pointer;
    text-shadow: 0 0 0.01vw #F84C1E;
  }



